@import 'variaveis';
@import 'mixins';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    text-align: center;
    background-size: cover;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 50px; 

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        &__text {
            flex: 1;
            color: $corTextoPrincipal;
            margin-bottom: 20px; 
            @media (min-width: 768px) {
                margin-bottom: 0; 
            }

            h2 {
                color: #ecf0f1;
            }

            p {
                margin-top: 10px;
            }

        }

        &__image {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .circle {
                width: 80vw;
                height: 80vw;
                max-width: 640px;
                max-height: 640px;
                border-radius: 50%;
                background-color: #fff;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: 8vw;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        padding: 6vw;

        &__content {
            padding: 20px;

            &__image {
                .circle {
                    width: 50vw;
                    height: 50vw;
                    max-width: 480px;
                    max-height: 480px;
                }
            }
        }
    }

    @media (min-width: 1025px) {
        padding: 5.6vw; // Padding padrão para desktops
    }
}
